* {
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* 
FONTS

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

/* font-family: 'Fraunces', serif;

font-family: 'Montserrat', sans-serif; */

body {
  background-color: var(--cream);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main-content {
  max-width: 25rem;
}

.card {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.pic {
  border-radius: 0.5rem 0 0 0.5rem;
  flex: 1;
  width: 50%;
}
.card-content {
  border-radius: 0rem 0.5rem 0.5rem 0rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
}
.text-container {
  padding: 2rem;
}

.card-content h1 {
  font-family: 'Fraunces', serif;
}

.card-content p {
  font-family: 'Montserrat', sans-serif;
}
