* {
  --dark-cyan: hsl(158, 36%, 37%);
  --darker-cyan: hsl(158, 36%, 20%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);

  /* fonts */
  --header-fonts: 'Fraunces', serif;
  --paragraph-fonts: 'Montserrat', sans-serif;

  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

p,
a {
  font-family: var(--paragraph-fonts);
  font-size: 14px;
}

h1,
.price {
  font-family: var(--header-fonts);
}

html {
  font-size: 100%;
}

body {
  background-color: var(--cream);
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
/* main container */
.main-content {
  max-width: 570px;
  height: 460px;
  margin: 0 15px;
}
/* content-wrapper */
.main-content .main-content_card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.main-content .main-content_card .image {
  width: 50%;
  height: 100%;
  display: block;
  float: left;
  overflow: hidden;
}

.main-content .main-content_card .image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
}

/* hide mobile image */

.main-content .main-content_card .image .image_mobile {
  display: none;
}

/* text content */

.main-content .main-content_card .text-container {
  width: 50%;
  height: 100%;
  float: left;
  display: block;
  background-color: var(--white);
  padding: 30px;
}

/* Catagory */
.text-container_category {
  text-transform: uppercase;
  color: var(--dark-grayish-blue);
  letter-spacing: 4px;
  padding-bottom: 15px;
}

/* Product Title */
.text-container_product {
  color: var(--very-dark-blue);
  font-size: 30px;
}

/* product text */
.text-container_description {
  padding: 25px 0;
  color: var(--dark-grayish-blue);
  line-height: 1.7;
}

/* price */

.price {
  color: var(--dark-cyan);
  font-size: 32px;
  width: 100%;
  position: relative;
  display: inline-block;
}

.price_old {
  color: var(--dark-grayish-blue);
  font-size: 14px;
  text-decoration: line-through;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
}

/* button */

.cart {
  padding: 10px 0;
  width: 100%;
  background-color: var(--dark-cyan);
  display: inline-block;
  text-align: center;
  color: var(--white);
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 25px;
  font-size: 15px;
}

.cart:hover {
  background-color: var(--darker-cyan);
}
.cart_icon {
  padding-right: 5px;
}

/* responsive for screens with 375px width */

@media screen and (max-width: 376px) {
  .main-content {
    height: auto;
  }

  .main-content .main-content_card .image {
    width: 100%;
    height: 250px;
  }

  .main-content .main-content_card .image .image_mobile {
    display: block;
  }
  .main-content .main-content_card .image .image_desktop {
    display: none;
  }
  .main-content .main-content_card .text-container {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .main-content .main-content_card h1 {
    line-height: 0.9;
  }

  .main-content .main-content_card .text-container_description {
    padding-top: 20px;
    padding-bottom: 35px;
  }

  .price_old {
    left: 60%;
  }
}
